
*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: gray;
    position: sticky;
    top: 0;
}
#port{
    position: absolute;
    top: 15px;
    left: 40px;
}
.nav-items li{
    display: block;
    list-style: none;
    position: relative;
    left: 170px;
    top: 61px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: gray;
}
.nav-items li:hover{
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    color: white;
}
.nav-items #menu{
    position: absolute;
    top: 20px;
    right: 60px;
    display: inline;
}
.items{
    text-decoration: none;
    color: white;
}
#show{
    display: none;
}

/* profile */

.profile{
    height: 80vh;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 350px;
    border-bottom: 1px solid gray;
}
.conPro{
    position: relative;
    bottom: 150px;
    left: 30px;
    line-height: 20px;
    font-size: 10px;
}
#photo{
    height: 200px;
    width: 200px;
}
.social{
    font-size: large;
    color: gray;
}
#resume{
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}
.links{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* Skills */

.skills{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.conSkill{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 400px 400px;
    gap: 20px;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 50vh;
    width: 40vh;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to top ,gray 50%,white 50%);
    background-size: 100% 200%;
    transition:all 1s ease;
}
.sec:hover{
    background-position: left bottom;
    overflow: hidden;
    box-shadow: 0 0 30px black;
    transform: translate(1.5, 1.5);
}
.head{
    text-align: center;
    padding: 30px;
    color: black;
}

/* AboutMe */

.Aboutme{
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
}
.conAb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.abtm{
    width: 80%;
}
.con6{
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 250px 260px 100px;
    text-align: center;
}
#head{
    margin-bottom: 70px;
}
#bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    border: none;
    padding: 15px 30px;
}
.btn{
    position: relative;
    right: -200px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
}
#text{
    border: 1px solid gray;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}